*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}
#newUserPage, #existingUserPage,#page,#medicinePage,#medicineInfo,#Operationpage,#medicineList,#requiredCount,#topup,#OrderHistory,#OrderHistorys,#MedicineDetail,#purchaseMedicineDetail,#medicineadd,#Medicineform{
    display: none;
}

table {
    border-collapse: collapse;
   margin-left:7em;
  
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }

h2{
  
  padding: 1.5em 0;
  text-align: center;
}
#homePage > button{
  width: 10em;
  padding:1em;
  margin: 1em ;
  background-color: bisque;
}
.home{
  margin: 2em;
  border: 2px solid orange;
  border-radius: 3%;
  padding: 2em;
}
.home>h3{
  text-align: center;
  margin-bottom: 2em;
}
.home>input{
  margin: 0 1em;
  width: 15em;
  height: 2em;
}
.home> button{
  width: 10em;
  padding:1em;
  margin: 2em 6em;
  background-color: bisque;
  
}

#newUserPage label{
  display:inline-block;
  width: 10em;
  
}
#Operationpage{
  background-color: rgb(228, 183, 126);
  width: 100%;
 padding: 0 10em;
}
#Operationpage>button{
  width: 10em;
  padding:1em;
  margin: 1em ;
  background-color: bisque;

}
#medicineadd{
  width: 10em;
  padding:1em;
  margin: 2em 6em;
  background-color: bisque;

}
table button{
  width: 5em;
  padding:0.5em;
  margin-right: 0.5em;
  margin-right: 0.5em;
  background-color: bisque;
  
  
}

#topup{
  margin: 2em;
  border: 2px solid orange;
  border-radius: 3%;
  padding: 2em;
}
#topup  input{

  margin: 0 1em;
  width: 15em;
  height: 2em;
}
#topup button{
  width: 10em;
  padding:1em;
  margin: 2em 6em;
  background-color: bisque;
  
}
#requiredCount button{
  width: 5em;
  padding:0.5em;
  margin-right: 0.5em;
  margin-right: 0.5em;
  background-color: bisque;
}

form label{
  display:inline-block;
  width: 10em;
}
form input{
  margin: 0 1em;
  width: 15em;
  height: 2em;
}

form{
  margin: 2em;
  border: 2px solid orange;
  border-radius: 3%;
  padding: 2em;
}
#page>h1{
  text-align: center;
  margin: 5em;
}